/* theme.css.njk */
---
permalink: '/assets/css/theme.css'
excludeFromSitemap: true
---
/*
  this macro will transform the colors in the JSON data
  into custom properties to use in CSS.
*/
{% macro colorscheme(colors) %}
    --color-bg: {{ colors.background }};
    --color-bg-offset: {{ colors.backgroundOffset }};
    --color-text: {{ colors.text }};
    --color-text-offset: {{ colors.textOffset }};
    --color-border: {{ colors.border }};
    --color-primary: {{ colors.primary }};
    --color-primary-offset: {{ colors.primaryOffset }};
    --color-secondary: {{ colors.secondary }};
{% endmacro %}

/* 
  get the "default" light and dark color schemes
  to use if no other theme was selected
*/
{%- set default = themes|getTheme('default') -%}
{%- set dark = themes|getTheme('dark') -%}

/*
  the basic setup will just use the light scheme
*/
:root {
    {{ colorscheme(default.colors) }}
}
/*
  if the user has a system preference for dark schemes,
  we'll use the dark theme as default instead
*/
@media(prefers-color-scheme: dark) {
    :root {
        {{ colorscheme(dark.colors) }}
    }
}

/*
  finally, each theme is selectable through a 
  data-attribute on the document. E.g:
  <html data-theme="bowser">
*/
{% for theme in themes %}
html[data-theme='{{ theme.id }}'] {
    {{ colorscheme(theme.colors) }}
}
{% endfor %}
